/* add responsive for small device (phone) */
@media only screen and (max-width: 575.98px){
    .main-seaction-pict{
        width: 100%;
    }
    .service-pict{
        width: 75%;
    }
    .why-us-title{
        text-align: center;
    }
    .card-deck{
        margin-top: -50px;
    }
    .FAQ-title{
        text-align: center;
    }
    .testimonial-content{
        margin-top: -70px;
    }
    .testimonial-img{
        margin-left: 30%;
    }
    .star-image{
        margin-left: 38%;
    }
    
}

/* add responsive for medium device(tablet) */
@media only screen and (min-width: 576px){
    .main-seaction-pict{
        width: auto;
        margin-top: auto;
    }
    .service-pict{
        margin-left: -2%;
    }
    .main-seaction-text{
        position: relative;
    }
    .service-text{
        margin-left: 1%;
    }
}

/* add responsive for large device (dekstop) */
@media (min-width: 992px) and (max-width:1200px){
    .main-seaction-pict{
        width: 100%;
        margin-top: -10%;
    }
    .sidebar{
        display: none;
    }
    #main{
        display: none;
    }
}

/* add responsive for extra large device (dekstop) */
@media (min-width:1200px){
    .main-seaction-pict{
        margin-left: 50%;
        margin-top: -15%;
    }
    .sidebar{
        display: none;
    }
    #main{
        display: none;
    }
}